<h1>Questions</h1>

<% @questions.each do |question| %>
    <article class="card mt-3">   
        <div class="card-body">
            <h2><%= question.title %></h1>    

            <section class="card-text">
                <p>
                    <%= question.body %>                                
                </p>
                <time><small><%= question.created_at %></small></time>
            </section>
            <%= link_to "Show", question_path(question), class: "btn btn-primary"%>
            <%= link_to "Edit", edit_question_path(question), class: "btn btn-secondary"%>
            <%= link_to "Delete", question_path(question), data: {method: :delete, confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
    </article>
<% end %>